name: install tools by aqtinstall

on:
  push:

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        aqt_ver: [1, 2]
    steps:
      - run: pip install aqtinstall==${{ matrix.aqt_ver }}.*

      - run: aqt tool linux tools_ifw 4.1.1 qt.tools.ifw.41
